body{
    background: url("https://nn.ps/media/uploads/weblog/2020/08/09/%D8%A3%D9%81%D8%B6%D9%84-10-%D9%87%D9%88%D8%A7%D8%AA%D9%81-%D9%85%D9%86-%D8%AD%D9%8A%D8%AB-%D8%A7%D9%84%D9%83%D8%A7%D9%85%D9%8A%D8%B1%D8%A7-2020.jpg") no-repeat center center fixed; 
    background-size: cover;
}
  
.top{
    text-align: center;
    width: 50%;
    background-color: rgba(194, 252, 251,0.7);
    border: 2px white solid;
    margin: auto;
    border-radius: 100px;
    font-weight: bold;
    color: black;
    margin-top: 5%;
}
.botmessage {
    background: #b0d1e6;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    color: black;
    border: 3px white solid;
}

.usermessage {
    background: #de6b9b;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 40px;
    border: 3px #fbf8f8 solid;
}

#box {
    background: #1713165c;
    padding: 10px;
    border-radius: 30px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border: 4px #0887ed solid;
    font-size: 20px;
    font-weight: bold; 
}

.userblock {
    text-align: right;
}

#input {
    width: 90%;
    border-radius: 15px;
    box-sizing: border-box;
    height: 40px;
    font-size: 20px;
}

#hidden{
    display: none;
}

iframe,img{
    margin:10px;
    width:300px;
    height:300px;
    display:block;
}

.botimg{
    border-radius:50%;
    width:70px;
    height:70px;
    transform: scaleX(-1);  
    border:2px white solid;
}

.userimg{
    border-radius:50%;
    width:70px;
    height:70px;
    display: block; 
    border:2px white solid;
}
